$bg-grey: #e8e8e8;
$theme-yellow: #efcd6a;
$border-color: #70c8f7;
$border-shadow-color: #4073f1;
$text-shadow: #aed5e5;

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  background: linear-gradient(315deg,
          $theme-yellow 0% 30%,
          white 30% 50%,
          $theme-yellow 50% 70%,
          white 70% 85%,
          $theme-yellow 85% 100%,
  );

  .next {
    width: 20%;
  }

  .border {
    padding: 3vh 2vh 2vh 3vh;
    background-color: $border-color;
    border-radius: 3vh;
    box-shadow: 0.5vh 0.5vh 0 0.5vh $border-shadow-color;

    .game {
      border-radius: 1vh;
      box-shadow: -0.5vh -0.5vh 0 0.5vh $border-shadow-color;
      position: relative;

      .gameMask {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
        background-color: rgba(#EEE, 60%);

        .button {
          border: none;
          border-radius: 10px;
          box-shadow: rgba($border-shadow-color, 90%) 1vh 1vh;
          height: 15%;
          width: 50%;
          font-size: 3em;
          color: white;
          font-weight: bold;
          font-family: 'VT323', monospace;
          background-color: rgba($border-color, 90%);
          transform: translateX(-1vh) translateY(-1vh);
          transition: 0.05s;
          cursor: pointer;

          &:hover {
            background-color: $border-color;
            box-shadow: $border-shadow-color 1vh 1vh;
          }

          &:active {
            box-shadow: none;
            transform: none;
          }
        }
      }

      .row {
        display: flex;

        &:nth-child(2n) {
          .cell:nth-child(2n) {
            background-color: white;
          }

          .cell:nth-child(2n+1) {
            background-color: $bg-grey;
          }
        }

        &:nth-child(2n+1) {
          .cell:nth-child(2n) {
            background-color: $bg-grey;
          }

          .cell:nth-child(2n+1) {
            background-color: white;
          }
        }

        .cell {
          width: 6vh;
          height: 6vh;
        }
      }
    }
  }

  .score {
    width: fit-content;
    height: 60%;


    .scoreBorder {
      height: 1vw;
      display: flex;
      flex-direction: row;

      .scoreBorderFragment {
        border-radius: 50px;
        background-color: $theme-yellow;
        box-shadow: .15vw .15vw $text-shadow;
      }
    }
  }

  .scoreText {
    font-family: "VT323", monospace;
    color: $theme-yellow;
    font-size: 6.5vw;
    text-shadow: .15vw .15vw $text-shadow;
  }

  // todo spin animation
}
