.container {
  display: flex;
  flex-direction: column;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;

  &:nth-child(1) {
    background: linear-gradient(red, orange);
  }

  &:nth-child(2) {
    background: linear-gradient(orange, yellow);
  }

  &:nth-child(3) {
    background: linear-gradient(yellow, green);
  }

  &:nth-child(4) {
    background: linear-gradient(green, cyan);
  }

  &:nth-child(5) {
    background: linear-gradient(cyan, blue);
  }

  &:nth-child(6) {
    background: linear-gradient(blue, purple);
  }

  &:nth-child(7) {
    background: linear-gradient(purple, red);
  }

  > span {
    display: inline-block;
    width: 100vw;
    text-align: center;
    font-size: 80vh;
  }
}
